#Please don't edit "forms_url".
forms_url=https://forms.office.com/Pages/DesignPage.aspx
user_email=<Email id>
password=<password>

#Timeout Values in Seconds
Implicit=15
Explicit=15
browser=chrome

#Input Data File Name
filename=src//test//resources//TestData.xlsx